<div class="container mx-auto">
  <header class="h-20 bg-white">
    <nav class="relative px-2 py-4">
      <div class="container mx-auto flex justify-between items-center">
        <ul class="hidden md:flex space-x-6">
          <li><a href="/">Lego Collection</a></li>
          <li>
            <a
              class="<%= (page === '/lego/sets') ? 'active' : '' %>"
              href="/lego/sets"
              >View Collection</a
            >
          </li>
          <li>
            <a class="<%= (page === '/about') ? 'active' : '' %>" href="/about"
              >About</a
            >
          </li>
        </ul>
        <button id="mobile-icon" class="md:hidden">
          <i onclick="changeIcon(this)" class="fa-solid fa-bars"></i>
        </button>
      </div>

      <div class="md:hidden flex justify-center mt-3 w-full">
        <div id="mobile-menu" class="mobile-menu absolute top-23 w-full">
          <ul class="bg-gray-100 shadow-lg leading-9 font-bold h-screen">
            <li
              class="border-b-2 border-white hover:bg-red-400 hover:text-white pl-4"
            >
              <a href="/" class="block pl-7">Home</a>
            </li>
            <li
              class="border-b-2 border-white hover:bg-red-400 hover:text-white pl-4"
            >
              <a
                class="<%= (page === '/lego/sets') ? 'active' : '' %>"
                href="/lego/sets"
                class="block pl-7"
                >View Collection</a
              >
            </li>
            <li
              class="border-b-2 border-white hover:bg-red-400 hover:text-white pl-4"
            >
              <a
                class="<%= (page === '/about') ? 'active' : '' %>"
                href="/about"
                class="block pl-7"
                >About</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
