<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500</title>
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto">
      <body class="bg-slate-200">
        <!-- Hero section starts -->
        <div class="container mx-auto">
          <div class="hero min-h-screen bg-base-200">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold">500 internal error</h1>
                <p class="py-6 text-sm">
                  <%= message %>
                  <!-- 动态显示错误消息 -->
                </p>
                <a href="/">
                  <button class="btn btn-primary">Go back to main page</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </body>
    </div>
  </body>
</html>
