<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwindcss Navigation menu</title>
    <link href="/css/output.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-200">
    <%- include('partials/navbar', {page: '/'}) %>

    <!-- Hero section starts -->
    <div class="container mx-auto">
      <div class="hero bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Lego collections</h1>
            <p class="py-6">
              Unlock the Ultimate LEGO Adventure! Dive into a world of limitless
              creativity and thrills with our exclusive LEGO Collection. Join
              now and build your dreams!
            </p>
            <a href="/lego/sets">
              <button class="btn btn-primary">Get Started</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- 产品展示区 -->
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 container mx-auto py-6"
    >
      <div class="card w-96 bg-base-100 shadow-xl">
        <figure>
          <img
            class="w-full h-64 object-cover"
            src="https://cdn.rebrickable.com/media/sets/010423-1.jpg"
            alt="Shoes"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">The Majestic Horse</h2>
          <p>
            The Majestic Horse set captures the beauty and grace of a noble
            steed, perfect for adding elegance to your Lego collection.
          </p>
          <div class="card-actions justify-end">
            <a href="/lego/sets/010423-1">
              <button class="btn btn-primary">Buy Now</button>
            </a>
          </div>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <figure>
          <img
            class="w-full h-64 object-cover"
            src="https://cdn.rebrickable.com/media/sets/021-1.jpg"
            alt="Wheel Set"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Wheel Set</h2>
          <p>
            This Wheel Set adds endless possibilities to your Lego collection,
            whether you're building high-speed racers or powerful off-road
            vehicles.
          </p>
          <div class="card-actions justify-end">
            <a href="/lego/sets/021-1">
              <button class="btn btn-primary">Buy Now</button>
            </a>
          </div>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <figure>
          <img
            class="w-full"
            src="https://cdn.rebrickable.com/media/sets/010-3.jpg"
            alt="Basic Building Set"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Basic Building Set</h2>
          <p>
            The Basic Building Set is the perfect foundation for any Lego
            enthusiast, offering a versatile range of bricks for endless
            creative possibilities.
          </p>
          <div class="card-actions justify-end">
            <a href="/lego/sets/022-1">
              <button class="btn btn-primary">Buy Now</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
